* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #2874f0;
  --main-footer-color: #172337;
  --font-medium: 500;
}

/* ---------------- NAV BAR STARTS ---------------- */

header {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 186px; /* ye apne hisab se laga le bhai (ye bass accha dikhe iss liye kiya hai adjustment */
  height: 56px;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.main-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 20.11px;
}

.main-logo-image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-container {
  display: flex;
  justify-content: space-between;
}

.explore-container-text {
  color: white;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
}

.explore-container-plus {
  color: #ffe500;
}

.explore-logo-container {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-logo-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .search {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

header .search .search-container {
  width: 375px;
  /* width: 504px; */
  height: 36px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
  display: flex;
  border-radius: 2px;
}

header .search .search-container input { 
  width: calc(100% - 32px);
  padding: 16px;
  outline: none;
  border: none;
  border-radius: 2px;
}

header .search .search-container button {
  width: 36px;
  height: 100%;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

header .login {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

header .login button{ 
  width: 122px;
  height: 31px;
  padding: 5px 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--main-bg-color);
  background-color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

header .become-seller {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: .1px;
  font-weight: 500;
  color: #fff;
}

header .more {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: .1px;
  font-weight: 500;
  color: #fff;
}

header .more .zZ3yfL {
  margin: 1px 0 0 8px;
  transform: rotate(270deg);
}

header .cart {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: .1px;
  font-weight: 500;
  color: #fff;
}

header .cart svg {
  width: 16px;
  height: 16px;
  margin: 0 8px;
}

nav {
  display: flex;
}

nav ul {
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 17px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* ---------------- NAV BAR COMPLETED ---------------- */

/* ---------------- SECTION 1 STYLING STARTS ---------------- */

.section-1 {
  width: 100%;  
  height: 111.6px;
  background-color: white; /*Try out pink, looks fine to me.*/
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-1-container {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-1-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.section-1-item:hover {
  color: var(--main-bg-color);
}

/* ---------------- SECTION 1 STYLING Completed ---------------- */


/* ---------------- SECTION 2 STYLING STARTS ---------------- */


footer {
  height: 12vh;
  background-color: var(--main-footer-color);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}